@inject HttpClient client
@using Newtonsoft.Json
@using System.Net.Http.Headers
@inject SingletonService searchInput
@using System.Net.Http
@page "/"

<h1>Log in</h1>
<ul>
    <li>        
        <button @onclick=@Refresh>UpdateSearch</button>
        <input placeholder="Username"/>
    </li>
    <li>
        <input placeholder="Password"/>
    </li>
</ul>

@code{
    MovieItem movie;

    string stringPayload;
    HttpContent content;
    async Task Refresh()
    {
     HttpResponseMessage response = await client.PostAsync("https://ptsv2.com/t/nrph0-1622069235/post", content);
     var myResponse = await response.Content.ReadAsStringAsync();
     Console.WriteLine(myResponse);
     }
    
    protected override void OnInitialized()
    {
        movie = new MovieItem{   
        Title = "movie title",
        release_Date = "Vchera",
        original_language = "english",
        popularity = 3.1,
        poster_path = "path",
        fullImagePath = "fullPath",
        PersonalRate = 2
        };
        stringPayload = JsonConvert.SerializeObject(movie);
        content = new StringContent(stringPayload);
    }
}