@inject HttpClient client
@using Newtonsoft.Json
@using System.Net.Http.Headers
@inject SingletonService searchInput
@using System.Net.Http
@page "/"

<h1>Log in</h1>
<ul>
    <li>        
        <input @bind="username" @bind:event="oninput" class="form-control mr-sm-2" type="search" placeholder="Username">
    </li>
    <li>
        <input @bind="password" @bind:event="oninput" class="form-control mr-sm-2" type="search" placeholder="Password">
    </li>
    <li>
        <button @onclick=@Post>Login</button>
    </li>
</ul>

@code{
@code{
    public string username {get; set;}
    public string password {get; set;}

    string stringPayload;
    HttpContent content;
    async Task Post()
    {
    IEnumerable<KeyValuePair<string, string>> pairs = new List<KeyValuePair<string,string>>(){
            new KeyValuePair<string, string>("username",username),
            new KeyValuePair<string, string>("password",password),
    };
    content = new FormUrlEncodedContent(pairs);
    HttpResponseMessage response = await client.PostAsync("https://us-central1-userservice-314812.cloudfunctions.net/createUser/post", content);
    Console.WriteLine(content.ToString());
    string myResponse = await response.Content.ReadAsStringAsync();
        //if(myResponse == "Thank you for this dump. I hope you have a lovely day!"){
        //    searchInput.displayName = "NO SUCH ACCOUNT";
        //} else{
            searchInput.displayName = myResponse;
        //}
    Console.WriteLine(myResponse);
    }
}
}