@page "/movieSearch"
@inject NavigationManager uriHelper
@inject SingletonService searchInput
@inject HttpClient client
@using System.Net.Http
<h1>Movie</h1>
<button @onclick=@Refresh>UpdateSearch</button>
@if (searchInput.GetSearchInput() == null)
{
    <p><em>Look for a movie via the search bar!</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Release date</th>
                <th>Original language</th>
                <th>Popularity</th>
                <th>Poster</th>   
            </tr>
        </thead>
        <tbody>
            @foreach (MovieItem movieItem in movies){
                <tr>
                    <td>@movieItem.Title</td>
                    <td>@movieItem.release_Date</td>
                    <td>@movieItem.original_language</td>
                    <td>@movieItem.popularity</td>
                    <td><img src=@movieItem.fullImagePath alt="alternatetext" style="width:350px;height:400px;"></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    async Task Refresh()
    {
        if(searchInput.GetSearchInput() != null ){
        root = await client.GetFromJsonAsync<Root>("https://api.themoviedb.org/3/search/movie?api_key="+ key + "&query=" + searchInput.GetSearchInput());
        movies = root.results;
        Console.WriteLine("Input is set to: " + searchInput.GetSearchInput());
            foreach (MovieItem movie in movies){
                movie.fullImagePath = "https://image.tmdb.org/t/p/w500" + movie.poster_path;
            }
        }
    StateHasChanged();
    }
    private string key = "72d7decec4b08474aef457cd18c51628";
    private Root root = new();
    private List<MovieItem> movies = new();
    protected override async Task OnInitializedAsync()
    {
        if(searchInput.GetSearchInput() != null ){
        root = await client.GetFromJsonAsync<Root>("https://api.themoviedb.org/3/search/movie?api_key="+ key + "&query=" + searchInput.GetSearchInput());
        movies = root.results;
        Console.WriteLine("Input is set to: " + searchInput.GetSearchInput());
            foreach (MovieItem movie in movies){
                movie.fullImagePath = "https://image.tmdb.org/t/p/w500" + movie.poster_path;
            }
        }
    }
}
