@inject HttpClient client
@using Newtonsoft.Json
@using System.Net.Http.Headers
@inject SingletonService searchInput
@using System.Net.Http
@page "/register"

<h1>Register</h1>
<ul>
    <li>
        <input @bind="displayName" @bind:event="oninput" class="form-control mr-sm-2" type="search" placeholder="Display name">
    </li>
    <li>        
        <input @bind="username" @bind:event="oninput" class="form-control mr-sm-2" type="search" placeholder="Username">
    </li>
    <li>
        <input @bind="password" @bind:event="oninput" class="form-control mr-sm-2" type="search" placeholder="Password">
    </li>
    <li>
        <button @onclick=@PostNow>Register</button>
    </li>
</ul>

@code{
    public string username {get; set;}
    public string password {get; set;}
    public string displayName {get; set;}
    string stringPayload;
    HttpContent content;
    async Task PostNow()
    {
    IEnumerable<KeyValuePair<string, string>> pairs = new List<KeyValuePair<string,string>>(){
            new KeyValuePair<string, string>("display_name",displayName),
            new KeyValuePair<string, string>("user_name",username),
            new KeyValuePair<string, string>("password",password),
    };
    content = new FormUrlEncodedContent(pairs);
    HttpResponseMessage response = await client.PostAsync("https://us-central1-userservice-314812.cloudfunctions.net/createUser", content);
    Console.WriteLine(content.ToString());
    string myResponse = await response.Content.ReadAsStringAsync();
    Console.WriteLine(myResponse);
    }
}