@inject SingletonService searchInput
@inject HttpClient client
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a @onclick="Rerender" class="navbar-brand" href=@IndexPath><svg height="130" width="185">
    <defs>
        <linearGradient id="grad1" x1="0%" y1="100%" x2="100%" y2="50%">
            <stop offset="0%" style="stop-color:rgb(198 13 13);" />
            <stop offset="100%" style="stop-color:rgb(251 239 16);" />
        </linearGradient>
    </defs>
    <ellipse cx="100" cy="70" rx="85" ry="55" fill="url(#grad1)" />
    <text fill="#ffffff" font-size="25" font-family="Verdana" x="50" y="86">Group 9</text>
</svg></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="@NavMenuCssClass navbar-collapse">
        <a style="color:rebeccapurple"
            <NavLink @onclick="Rerender" class="nav-link" href=@registerPath Match="NavLinkMatch.All">
                <span class="oi oi-monitor" style="color:red" aria-hidden="true"></span> <span style="color:red">Register</span>
            </NavLink>
        </a>
        <a style="color:rebeccapurple"
            <NavLink @onclick="Rerender" class="nav-link" href=@moviePath Match="NavLinkMatch.All">
                <span class="oi oi-monitor" style="color:red" aria-hidden="true"></span> <span style="color:red">Movies</span>
            </NavLink>
        </a>
        <a
            <NavLink @onclick="Rerender" class="nav-link" href=@randomPath>
                <span class="oi oi-star" style="color:red" aria-hidden="true"></span> <span style="color:red">Random</span>
            </NavLink>
        </a>
        <a
            <NavLink @onclick="Rerender" class="nav-link" href=@myListPath>
               <span class="oi oi-list-rich"style="color:red" aria-hidden="true"></span> <span style="color:red">My list</span>
            </NavLink>
        </a>
        <a
            <NavLink @onclick="Rerender" class="nav-link" href=@actorPath>
                <span class="oi oi-star" style="color:red" aria-hidden="true"></span> <span style="color:red">Actors</span>
            </NavLink>
        </a>
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button">
                Genre
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Drama</a>
                <a class="dropdown-item" href="#">Comedy</a>
                <a class="dropdown-item" href="#">Fuck</a>
            </div>
        </div>
        <div> 
            <p @onchange="Rerender">Display name = @searchInput.displayName</p>
            <p>adress = @client.BaseAddress</p>
            <input @bind="InputValue" @bind:event="oninput" class="form-control mr-sm-2" type="search" placeholder="Is this working?">
        </div>
            <button @onclick="SetValue" class="btn btn-outline-light my-2 my-sm-3" type="submit">Find</button>
    </div>
</nav>

@code {
    public string InputValue { get; set; }

    public string IndexPath {get; set;}
    public string registerPath {get; set;}
    public string moviePath {get; set;}
    public string actorPath {get; set;}
    public string myListPath {get; set;}
    public string randomPath {get; set;}
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void Rerender(){
        StateHasChanged();
    }
    private void SetValue(){
        searchInput.searchInput = InputValue;
        Console.WriteLine("Value has been set to " + searchInput.searchInput);
    }
    protected override void OnInitialized(){
        Uri localHost = new Uri("https://localhost:5001/");
        if(client.BaseAddress == localHost ){
            IndexPath = "/";
            registerPath = "/register";
            moviePath = "/movieSearch";
            actorPath = "/actorSearch";
            myListPath = "/myList";
            randomPath = "/random";
        } else{
            IndexPath = "/SEP6_BlazorWASM/";
            registerPath = "/SEP6_BlazorWASM/register";
            moviePath = "/SEP6_BlazorWASM/movieSearch";
            actorPath = "/SEP6_BlazorWASM/actorSearch";
            myListPath = "/SEP6_BlazorWASM/myList";
            randomPath = "/SEP6_BlazorWASM/random";
        }
    }
}