@inject SingletonService searchInput
@inject NavigationManager uriHelper
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/SEP6_BlazorWASMLogin">MAYBE LOGO HERE</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="@NavMenuCssClass navbar-collapse">
        <a style="color:rebeccapurple"
            <NavLink class="nav-link" href="movieSearch" Match="NavLinkMatch.All">
                <span class="oi oi-monitor" style="color:red" aria-hidden="true"></span> <span style="color:red">Movies</span>
            </NavLink>
        </a>
        <a
            <NavLink class="nav-link" href="random">
                <span class="oi oi-star" style="color:red" aria-hidden="true"></span> <span style="color:red">Random</span>
            </NavLink>
        </a>
        <a
            <NavLink class="nav-link" href="myList">
               <span class="oi oi-list-rich"style="color:red" aria-hidden="true"></span> <span style="color:red">My list</span>
            </NavLink>
        </a>
        <a
            <NavLink class="nav-link" href="actorSearch">
                <span class="oi oi-star" style="color:red" aria-hidden="true"></span> <span style="color:red">Actors</span>
            </NavLink>
        </a>
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button">
                Genre
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Drama</a>
                <a class="dropdown-item" href="#">Comedy</a>
                <a class="dropdown-item" href="#">Fuck</a>
            </div>
        </div>
        <div>
            <input @bind="InputValue" @bind:event="oninput" class="form-control mr-sm-2" type="search" placeholder="Is this working?">
        </div>
            <button @onclick="SetValue" class="btn btn-outline-light my-2 my-sm-3" type="submit">Find</button>
    </div>
</nav>

@code {
    public string InputValue { get; set; }
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void SetValue(){
        searchInput.SetSearchInput(InputValue);
        Console.WriteLine("Value has been set to " + searchInput.GetSearchInput());
    }
}