@inherits LayoutComponentBase
<div class="container">
    <NavMenu />
    <div class="content px-4 main-background" style="color:antiquewhite">
        @Body
    </div>
    <div class="content px-0 main-fill"
         </div>
</div>
